

* {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: #043FA4;
  background: -moz-linear-gradient(45deg, #0494a4 0%, #137100 100%);
  background: -webkit-linear-gradient(45deg, #0494a4 0%, #137100 100%);
  background: linear-gradient(45deg, #0494a4 0%, #137100 100%);
  background-attachment: fixed;
}

h1{
  font-weight: 1500;
}

.header{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  z-index: -1;
}

.childtext {
  display: inline-block;
  background-color: #00494c;
  border-color: aqua;
  border-radius: 25px;
  padding: 1rem 1rem;
  vertical-align: middle;
  -webkit-box-shadow: 3px 3px 3px 1px #000000; 
  box-shadow: 3px 3px 3px 1px #000000;
  font-size: 20px;
  margin-left: -50px;
}

img.rounded-corners {
  border-radius: 30px;
}

.text{
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 1rem;
}

/*Magical appearing stuff*/
section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 15vh;
  z-index: 0;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 3s;
  z-index: 0;
}

.show{
  opacity: 1;
  filter: blur(0);
  z-index: 0;
}

.sidebar{
  height: 100%;
  width: 100%;
  background-color: #000000d4;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

.baritem{
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.baritem2{
  transition: all .4s ease;
  display: grid;
  place-items: center;
  align-content: center;
  padding: 32px 0px;
  text-decoration: none;
  font-weight: 1500;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  font-size: 40px;
  transition: transform .2s;
}
.baritem2:hover {
  transform: scale(1.5);
}

.sbopen{
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 50px;
  transition: transform .2s;
}

.sbclose{
  border: none;
  padding: 4px 24px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 75px;
  background-color: #00000000;
  transition: transform .2s;
}

.blur{
  -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
  filter: blur(5px);
}

.sbopen:hover {
  transform: scale(1.5);
}

.sbclose:hover {
  transform: scale(1.5);
}

.hiddenLogos{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: 0;
}

.showLogos{
  opacity: 1;
  filter: blur(0);
  z-index: 0;
  transform: translateX(0);
}

.logos{
  background-color: #e6e3e3a2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4%;
  padding-left: 1%;
  gap: 1.5%;
}

.logo:nth-child(2){
  transition-delay: 200ms;
}
.logo:nth-child(3){
  transition-delay: 400ms;
}
.logo:nth-child(4){
  transition-delay: 600ms;
}
.logo:nth-child(5){
  transition-delay: 800ms;
}
.logo:nth-child(6){
  transition-delay: 1000ms;
}
.logo:nth-child(7){
  transition-delay: 1200ms;
}
.logo:nth-child(8){
  transition-delay: 1400ms;
}
.logo:nth-child(9){
  transition-delay: 1600ms;
}
.logo:nth-child(10){
  transition-delay: 1800ms;
}
.logo:nth-child(11){
  transition-delay: 2000ms;
}
.logo:nth-child(12){
  transition-delay: 2200ms;
}
.logo:nth-child(13){
  transition-delay: 2400ms;
}
.logo:nth-child(14){
  transition-delay: 2600ms;
}
.logo:nth-child(15){
  transition-delay: 2800ms;
}
.logo:nth-child(16){
  transition-delay: 3000ms;
}
.logo:nth-child(17){
  transition-delay: 3200ms;
}
.logo:nth-child(18){
  transition-delay: 3400ms;
}
.logo:nth-child(19){
  transition-delay: 3600ms;
}
.logo:nth-child(20){
  transition-delay: 3800ms;
}

.logo{
  border-radius: 10px;
  padding: 15px;
}

#imageBar img {
  transition: filter 0.3s ease; /* Smooth transition for the blur effect */
}

img{
  max-width: 200%;
  max-height: 200%;
}




.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* This can be adjusted based on the size of your hexagon */
  height: 500px; /* Adjust this as well to fit the entire hexagon */
  margin: auto;
  padding: 70px;
  
}

.text-box {
  position: absolute;
  width: 50px; /* Adjust based on your design */
  height: 50px; /* Adjust based on your design */
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.btn {
  position: absolute;
  width: 150px; /* Adjust based on your design */
  height: 150px; /* Adjust based on your design */
  background-color: #00000038;
  color: white;
  border: none;
  padding: 5px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  cursor: pointer;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.5s ease-in-out;
  z-index: 0;
  font-size: 15px;
  font-style: bold;
}


.btn:hover {
  transition: 0.5s ease-in-out;
  background: #00ff7384;
  font-size: 20px;
  font-style: bold;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

#btn-1 { top: 0; left: 50%; transform: translateX(-50%); }
#btn-2 { top: 30%; right: 0; transform: translateY(-50%) translateX(50%); }
#btn-3 { bottom: 30%; right: 0; transform: translateY(50%) translateX(50%); }
#btn-4 { bottom: 0; left: 50%; transform: translateX(-50%); }
#btn-5 { bottom: 30%; left: 0; transform: translateY(50%) translateX(-50%); }
#btn-6 { top: 30%; left: 0; transform: translateY(-50%) translateX(-50%); }

.pdf {
  overflow: hidden;
  text-align: center;
  z-index: -1;
  height: 100%;
  min-height: 100% !important;
}

.topbtn{
  background-color: #00000000;
  z-index: 0;
  border:0px;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.blurry {
  filter: blur(5px); /* Initially blurred */
  transition: filter 0.3s ease;
}

.unblurred {
  filter: blur(0); /* Remove blur */
  transform: scale(1.2);
}